.body {
    background-color: #8bd2f8;
}

.title {
    text-align: center;
    font-size: 50px;
}

.myIcon {
    display: flex;
    & > img {
        border-radius: 150px;
        margin: auto;
    }
}
