.body {
  background-color: #353433;
  width: 100%;
  height: 600px;
  display: flex;
}

.wrapper {
  margin: auto;
}

.title {
  text-align: center;
  font-size: 70px;
  padding: 15px;
  margin: auto;
  font-family: serif;
  color: #ffffff;
}

.myIcon {
  display: flex;
  padding: 15px;
  & > img {
    border-radius: 150px;
    margin: auto;
  }
}
